#map-row[data-v-3c519760]{height:50%}.map-container[data-v-3c519760]{width:100%;height:95%}.map-title[data-v-3c519760]{height:20px;background-color:#000;color:#fff;border-color:#fff;border:1px solid}
